@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
ul {
    list-style: none;
  }
  .bg-customize-plan-color{
    background-color: #3F87F5;
  }
 .special-hot{
  position: absolute;
  right: 0px;
  top: -25px;
  border-radius: 13.5px;
 }
 @media only screen and (max-width:688px){
  .carousel-image{
    height: 360px;
  }
 }
 