@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
ul {
    list-style: none;
  }
  .bg-customize-plan-color{
    background-color: #3F87F5;
  }
  footer{
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    background-color: black;
    margin-top: 100px;
    height: 250px;
 }
 .app-text-decoration{
   color: #D9DBE1;
   padding-left: 100px;
   size: 18px;
   margin-top: 20px;
 }
 